@model BuiMuiGaim_Models.ViewModels.ProductUserVM

<form method="post" id="payment-from">
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Order Summary
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-outline-info btn-sm">Back to Cart</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-7 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">User Details:</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.FullName" type="text" required class="form-control" />
                                        <span asp-validation-for="ApplicationUser.FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.PhoneNumber" required type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.Email" required type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 row">
                                <div class="col-12">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Summary:</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        @{ var totalSum = 0; }
                                        @for (int i = 0; i < Model.ProductList.Count; i++)
                                        {
                                            <input type="hidden" asp-for="@Model.ProductList[i].Name" />
                                            <input type="hidden" asp-for="@Model.ProductList[i].Id" />
                                            <input type="hidden" asp-for="@Model.ProductList[i].Price" />
                                            <input type="hidden" asp-for="@Model.ProductList[i].TempAmount" />
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div>
                                                    <h6 class="my-0">@Model.ProductList[i].Name</h6>
                                                    <small class="text-muted"> Price: @string.Format("{0:c}", Model.ProductList[i].Price)</small>
                                                    <small class="text-muted"> Amout: @Model.ProductList[i].TempAmount</small>
                                                </div>
                                                <span class="text-muted">@string.Format("{0:c}", Model.ProductList[i].Price * Model.ProductList[i].TempAmount)</span>
                                            </li>
                                            totalSum += Model.ProductList[i].Price * Model.ProductList[i].TempAmount;
                                        }
                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <small class="text-info">Total amount:</small>
                                            <strong class="text-info">@string.Format("{0:c}", totalSum)</strong>
                                        </li>
                                    </ul>
                                </div>
                                @if(User.IsInRole(BuiMuiGaim_Utility.WC.AdminRole))
                                {
                                    <div class="col-12">
                                        <div class="wrapper">
                                            <div class="checkout container">
                                                <div id="dropin-container"></div>
                                                <input id="nonce" name="payment_method_nonce" type="hidden" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-5 offset-md-7">
                            @if (User.IsInRole(BuiMuiGaim_Utility.WC.AdminRole))
                            {
                                <button type="submit" class="btn btn-primary form-control" id="submit-button">Submit order</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary form-control">Submit Inquiry</button>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://js.braintreegateway.com/web/dropin/1.32.1/js/dropin.min.js"></script>
    <script>
        var form = document.querySelector('#payment-from');
        var clien_token = "@ViewBag.ClientToken";

        braintree.dropin.create({
            authorization: clien_token,
            container: '#dropin-container'
        }, function (createErr, instance) {
            form.addEventListener('submit', function () {
                event.preventDefault();

                //Add nonce to the form

                instance.requestPaymentMethod(function (err, payload) {
                    //submit payload nonce to server
                    document.querySelector('#nonce').value = payload.nonce;
                    from.submint();
                });
            });
        });

    </script>

}

